body {
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 42px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(180deg,#000,#00172e);
  color: #00aaff;
}

.card-house {
  background: #0d1117;
  border: 1px solid #1f2a44;
  transition: .3s;
}

.card-house:hover {
  transform: translateY(-5px);
  border-color: #00aaff;
  box-shadow: 0 0 12px #008cff;
}

.btn-primary {
  background: #007bff;
  border: none;
}

.glass {
  background: rgba(228, 221, 221, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.08);
}
